* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    width: 512px;
    background-color: rgba(0, 0, 129, 0.884);
}

main {
    margin: 3rem 2rem;
}

.banner {
    width: 100%;;
}

.text {
    margin: 1rem;
    border: 2rem;
    padding: 2rem;
    text-align: center;
    margin-top: 6rem;
}



.download_button {
    margin: 0.5rem;
    padding: 1rem;
    size: 8rem;
    height: 3rem;
    border-radius: 1rem;
    border-width: 1px;
    background-color: white;
    width: 24rem;
    font-size: larger;
}

.open_in_browser {
    margin: 0.5rem;
    padding: 1rem;
    size: 8rem;
    height: 3rem;
    border-radius: 1rem;
    border-width: 1px;
    background-color: white;
    width: 24rem;
    font-size: larger;
    background-color: rgb(160, 160, 248);
    border-color: rgba(240, 255, 255, 0);
}

.discord_cube {
    width: 8rem;
    position: absolute;
    top: -65px;
    left: 60px;
}

#sigmar_font {
    font-family: "Sigmar", sans-serif;
    color: white;
}

#dm_sans_font {
    font-family: "DM Sans", sans-serif;
    color: white;
}

.spasing {
    margin: 1rem 2rem;
} 

.first_section {
    margin: 4rem 0.5rem; 
    border-radius: 3rem;
    padding: 3rem 1rem;
    background-color: rgb(160, 160, 248);
    position: relative;
}

#size_video {
    width: 380px;
    height: 300px;
    border-radius: 3rem;
    overflow: clip;
}